<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456791612970-16c88gaquv0rb0b2v3q85i86ltldajuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456791612970-16c88gaquv0rb0b2v3q85i86ltldajuq</string>
	<key>API_KEY</key>
	<string>AIzaSyC7QNgt1NYroJHsqUauOr0A4GnEZNTD4vI</string>
	<key>GCM_SENDER_ID</key>
	<string>456791612970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppsBunches.arabicSpeak</string>
	<key>PROJECT_ID</key>
	<string>talaqi-1567710613991</string>
	<key>STORAGE_BUCKET</key>
	<string>talaqi-1567710613991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456791612970:ios:c8d3385d84ba3e27822d53</string>
	<key>DATABASE_URL</key>
	<string>https://talaqi-1567710613991.firebaseio.com</string>
</dict>
</plist>